* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    font-family: inherit;
    border: none;
}

img {
    display: block;
    max-width: 75%;
    max-height: 75%;
}

* {
    --white: #ffffff;
    --black: #000000;
    --light-grey: #e2e8f0;
    --dark-grey: #636363;
    --blue: #1992d4;
    --sunflower-yellow: #f0b429;
    --light-blue: #e0f2fe;
    --yellow: #facc15;
    --cool-grey: #a2a2a2;
    --pink: #fda4af;
}

.bg-lightblue {
    background-color: var(--light-blue);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-coolgrey {
    background-color: var(--cool-grey);
}
.bg-pink {
    background-color: var(--pink);
}

@font-face {
    font-family: Roboto;
    src: url(roboto-medium.woff2)
}

body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 300px auto;
}

header, main {
    grid-column: 2;
}

header {
    padding: 24px 40px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    background-color: var(--white);
    .searchbar {
        height: 32px;
        background-color: var(--light-grey);
        border-radius: 999px;
    }
    button {
        background-color: var(--blue);
        color: var(--white);
        padding: 10px 0;
        width: 90px;
        border-radius: 999px;
    }
    .account {
        .profile-picture {
            width: 40px;
            height: 40px;
        }
    }
    .greeting {
        .profile-picture {
            width: 48px;
            height: 48px;
        }
    }
}

nav {
    padding: 24px;
    grid-row: 1 / -1;
    background-color: var(--blue);
    color: var(--white);
    .icon {
        fill: var(--white);
    }
}

main {
    background-color: var(--light-grey);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto;
    padding: 30px;
    gap: 20px;
    h2 {
        margin-bottom: 0.5em;
    }
    #projects {
        grid-row: 1 / -1;
        > div {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            > article {
                padding: 30px 20px;
                background-color: var(--white);
                border-left: 8px solid var(--sunflower-yellow);
                border-radius: 8px;
                p {
                    color: var(--dark-grey);
                }
                    
            }
        }
    }
    #announcements {
        > div {
            border-radius: 8px;
            padding: 16px 24px;
            background-color: var(--white);
            article {
                background-color: var(--white);
                border-bottom: 1px solid var(--cool-grey);
                padding: 16px 0;
                &:last-child {
                    border: none;
                }
                p {
                    color: var(--dark-grey);
                }
            }
        }
        
    }
    #trending {
        > div {
            border-radius: 8px;
            padding: 8px 24px;
            background-color: var(--white);
            article {
                padding: 16px 0;
                p {
                    color: var(--dark-grey);
                }
                .profile-picture {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        
    }
}

.icon {
    width: 20px;
    height: 20px;
}

.profile-picture {
    display: grid;
    border-radius: 50%;
    > img {
        align-self: center;
        justify-self: center; /* place content center doesn't work! */
    }
}