* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    font-family: inherit;
    border: none;
}

* {
    --white: #ffffff;
    --black: #000000;
    --light-grey: #e2e8f0;
    --dark-grey: #636363;
    --blue: #1992d4;
    --yellow: #f0b429;
}

@font-face {
    font-family: Roboto;
    src: url(roboto-medium.woff2)
}

body {
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template-rows: auto auto;
}

header, main {
    grid-column: 2;
}

header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    background-color: var(--white);
    button {
        background-color: var(--blue);
        color: var(--white);
    }
}

nav {
    grid-row: 1 / -1;
    background-color: var(--blue);
    color: var(--white);
}

main {
    background-color: var(--light-grey);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto;
    #projects {
        grid-row: 1 / -1;
        > div {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            > article {
                background-color: var(--white);
                border-left: 5px solid var(--yellow);
                p {
                    color: var(--dark-grey);
                }
                    
            }
        }
    }
    #announcements {
        article {
            background-color: var(--white);
            p {
                color: var(--dark-grey);
            }
        }
    }
    #trending {
        article {
            background-color: var(--white);
            p {
                color: var(--dark-grey);
            }
        }
    }
}